# Database Configuration
POSTGRES_USER=your_db_user_here
POSTGRES_PASSWORD=your_db_password_here
POSTGRES_DB=cloud_analysis

# Location
LOCATION_LATITUDE=your_lat
LOCATION_LONGITUDE=your_long

# CWOP / Weather Station
CWOP_ID=

# Light Pollution Map (LPM)
LPM_API_KEY=
